{% load static %}
{% load lazy_loading %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>CargoTech Driver WebApp</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=3" />
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lazy-loading.css' %}" />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    <script src="{% static 'js/app.js' %}?v=5"></script>
    <script src="{% static 'js/filters.js' %}?v=6" defer></script>
    {% if lazy_image_enabled %}
      <script>
        window.LAZY_LOADING_CONFIG = {% lazy_loading_config %};
      </script>
      <script src="{% static 'js/lazy-loading.js' %}" defer></script>
    {% endif %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
